#!/usr/bin/env python3 -m sptk
[Desktop Entry]
Type=Application
Icon=
Exec=sptk
Name=Serial Port Toolkit
GenericName=Serial Terminal
Comment=Two panel serial port toolkit
StartupWMClass=SerialPortToolkit
Categories=Utility
StartupNotify=true
Terminal=false
